attrs==23.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
gunicorn==23.0.0
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
owlready2==0.46
packaging==24.1
psutil==6.0.0
pymongo==4.8.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.19.2
